#head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}
#home{
   margin : 0;
    text-decoration: none;
    color: black;
}
#about
{
margin : 0;
text-decoration: none;
color: #0065ff;
font-weight: 700px;
}
#contact
{
    text-decoration: none;
    color: black;
    margin : 0;
}
#body{
    margin-top: 0px;
    background-color:#FAFAFA;
    font-size: 30px;
    font-weight: bolder;
}
#name{
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
}
#heading{
    font-size: 24px;
    font-weight: 600;
}
#subheading{
    font-size: 18px;
    font-weight: 600;
}
#mainbody{
    padding: 60px 8%;
    font-family: 'Poppins';
}
#image{
    display: flex;
    height: 200px;
}
#myself{
    margin-left: 50px;
    line-height: 1.6;
    font-weight: 400;
    font-size: 14px;
}
@media (max-width: 768px)
{

    #mainbody{
        flex-direction: column;
        text-align: center;
    }

    #image{
        margin: 30px 0 0 0;
    }

    #start{
        font-size: 40px;
    }
    
    #head {
        gap: 20px;         
    }
    
    #home, #about, #contact {
        font-size: 16px; }  
}