#head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
}
#head a:hover {
    color: #0065ff;
    transition: color 0.3s ease;
}
#home{
   margin : 0px;
    text-decoration: none;
    color: black;
}
#about
{
 margin : 0;
 text-decoration: none;
 color: #0065ff;
 font-weight: 700;
}
#contact
{
    text-decoration: none;
    color: black;
    margin : 0px;
}
#body{
    margin-top: 0px;
    background-color:#FAFAFA;
    font-size: 30px;
    font-weight: bolder;
}
#name{
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
}
#image{
   display: flex;
   width: 400px;
   max-width: 100%;
   height: 400px;
   max-height: 100%;
   border-radius: 50%;
   
}
#mainbody{
    padding: 60px 8%;
    font-family: 'Poppins';
}
#image{
    display: flex;
    height: 200px;
    max-height: 100%;
    width: 200px;
    max-width: 100%;
}
#pfp{
    width: 250px;            
    height: 250px;
    flex-shrink: 0;
}
#image {
    width: 100%;
    height: 100%;
    border-radius: 50%;      
    object-fit: cover; 
}     
#myself{
    margin-left: 0px;
    line-height: 1.6;
    font-weight: 500;
    font-size: 24px;
}
@media (max-width: 768px)
{

    #mainbody{
        flex-direction: column;
        text-align: center;
    }
    #image{
        flex-direction: column;
        align-items: center;    
        text-align: center;     
        gap: 20px;
    }
    #pfp img {
        width: 150px; 
        height: 150px;
        border-radius: 50%;
    }
    #start{
        font-size: 40px;
    }
    
    #head {
        gap: 20px;         
    }
    
    #home, #about, #contact {
        font-size: 16px; }  
}