body {
    background-color:#F9F9F9;
    margin-top: 0px;
    font-weight: bolder;
    font-family: 'Poppins' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;  
    text-decoration: color(#2f2f2f); 
} 
#head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 60px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    flex-wrap: wrap;
    font-weight: 500;
}
#head a:hover {
    color: #0065ff;
    transition: color 0.3s ease;
}
#name{
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    
}
#heading{
    font-size: 24px;
    font-weight: 600;
}
#subheading{
    font-size: 18px;
    font-weight: 600;
}
#home{
    margin : 0;
    color: #0065ff;
    font-weight: 700;
    transition: color 0.3s;
}
#about
{
margin : 0;
text-decoration: none;
color: black;
}
#contact
{
    text-decoration: none;
    color: black;
    margin : 0;
    transition: color 0.3s;
}

#Portfolio{
    font-family: 'Poppins';
    background-color:#FAFAFA;
}
#mainbody{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 60px 8%;
    gap: 40px;
    flex-wrap: wrap;
}
#start{
    font-size: 60px;
}
#myname{
    color: rgb(74, 210, 252);
}
#image{
   display: flex;
   width: 380px;
   max-width: 100%;
   height: 380px;
   max-height: 100%;
   border-radius: 50%;
   margin-left: auto;
}
#intro{
    font-weight: 400;
    font-size: 14;
    text-decoration-color: #7cc843;
    line-height: 1.6;
    text-align: left;
}
@media (max-width: 768px){

    #mainbody{
        flex-direction: column;
        text-align: center;
    }

    #image{
        
        margin: 20px auto ;
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
    #image{
        width: 100%;
        height: 100%;
        object-fit:cover;
        
    }
    #head {
        gap: 20px;         
    }
    
    #home, #about, #contact {
        font-size: 16px;    
    }
}